Sitio/App_WebReferences/RefWCF/Servicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Articulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodAr" type="xs:int" />
      <xs:element minOccurs="0" name="NomAr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Articulo" nillable="true" type="tns:Articulo" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="PassLog" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuLog" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfArticulo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Articulo" nillable="true" type="tns:Articulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticulo" nillable="true" type="tns:ArrayOfArticulo" />
  <xs:complexType name="Factura">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ListaL" nillable="true" type="tns:ArrayOfLineasFactura" />
      <xs:element minOccurs="0" name="Nro" type="xs:int" />
      <xs:element minOccurs="0" name="UnUsu" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Factura" nillable="true" type="tns:Factura" />
  <xs:complexType name="ArrayOfLineasFactura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineasFactura" nillable="true" type="tns:LineasFactura" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineasFactura" nillable="true" type="tns:ArrayOfLineasFactura" />
  <xs:complexType name="LineasFactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cant" type="xs:int" />
      <xs:element minOccurs="0" name="UnArt" nillable="true" type="tns:Articulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineasFactura" nillable="true" type="tns:LineasFactura" />
  <xs:complexType name="ArrayOfFactura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Factura" nillable="true" type="tns:Factura" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFactura" nillable="true" type="tns:ArrayOfFactura" />
</xs:schema>